.textareacontainer {
	position: relative;
}

.textareacontainer img {
	opacity: 0.2;
  	position: absolute;
  	right: 23px;
  	top: 4px;
  	z-index: 1;
  	/* Firefox */
	-moz-transition-property: opacity;
	-moz-transition-duration: .4s;
	/* WebKit */
	-webkit-transition-property: opacity;
	-webkit-transition-duration: .4s;
	/* Opera */
	-o-transition-property: opacity;
	-o-transition-duration: .4s;
	/* Standard */
	transition-property: opacity;
	transition-duration: .4s;
}

.textareacontainer img.fullscreen {
	position: fixed;
	z-index: 4;
}

.textareacontainer img:hover {
	opacity: 1;
}

.textareacontainer textarea {
	width: 98%;
	position: relative;
}

.textareacontainer textarea.fullscreen {
    position: fixed;
	border: 0 none;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
}

body.fullscreen {
	overflow: hidden; 
}

#footer {
	font-size: 80%;
	color: gray;
	margin-top: 15px;
	float: left;
}

.error {
	background-color: #FF4444;
}

.ok {
	background-color: #33FF66;
}

.body > p {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px solid #AAAAAA;
}


